/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/11/2014, 05:46:14 PM
    Author     : usuario
*/

body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
#login-nav input { margin-bottom: 15px; }

.ui-growl {
    z-index:9999 !important;
}

.ui-widget, .ui-widget .ui-widget {
    font-size: small !important;
}