<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="FiloEn"/>
        <meta name="author" content="FiloEn"/>

        <!-- Bootstrap core CSS -->
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        <!-- Awesome core CSS -->
        <h:outputStylesheet library="css" name="font-awesome.min.css" />
          <h:outputStylesheet library="css" name="myStyle.css" />
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
       
        <title>FiloEn</title>
    </h:head>

    <h:body>


        <div id="top">
            <ui:insert name="top">
                <ui:include src="/private/template/header.xhtml"/>
            </ui:insert>
        </div>
        <div id="content" class="container">
            <ui:insert name="content"></ui:insert>

        </div>

        <div id="bottom" class="container">
            <ui:insert name="bottom">
                <hr class="featurette-divider"></hr>
                <footer id="bottom">
                    <p class="pull-right"><a href="#">Arriba</a></p>
                    <p>&copy; 2014 FiloEn. &middot; &middot; <a href="#">Terminos y Condiciones</a></p>
                </footer>

            </ui:insert>
        </div>

        <h:outputScript library="js" name="bootstrap.min.js"/>

    </h:body>

</html>
