<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>

        <ui:composition>
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Inicio</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav ">
                            <li class="#{view.viewId.contains('index')  ? 'active' : ''}"><h:outputLink value="Inicio"><i class="fa fa-home"></i></h:outputLink></li>
                            <li class="#{view.viewId.contains('pagina')  ? 'active' : ''}"><h:outputLink value="Pagina"><i class="fa fa-suitcase"></i> Pagina</h:outputLink></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <h:panelGroup>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user">  </i>  <h:outputText id="logedUserName"  value="Usuario"></h:outputText> <b class="caret"></b></a>
                                    <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                                        <h:form class="form" id="login-nav">

                                            <li>
                                                <div class="form-group">
                                                    <label class="sr-only" for="option"> Opción 1</label>
                                                    <i class="fa fa-suitcase"></i>  <h:outputText id="logedUserCompany"  value="Username"></h:outputText> 
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group">
                                                    <h:commandLink style="text-decoration: none ; color: black" ><i class="fa fa-cog"></i> Option 2
                                                    </h:commandLink>
                                                </div>
                                            </li>

                                            <div class="form-group">
                                                <li class="divider">
                                                </li>
                                            </div>
                                            <li>
                                                <div class="form-group">
                                                    <h:commandLink  style="text-decoration: none ;color: black" type="submit"  > <i class="fa fa-power-off"> </i> Option 3</h:commandLink>
                                                </div>
                                            </li>
                                        </h:form>

                                    </ul>
                                </li>
                            </h:panelGroup>

                        </ul>

                    </div>
                </div>
            </div>



        </ui:composition>
    </h:body>
</html>